nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  /*height: inherit;*/
  line-height: 1.8em;
  text-transform: uppercase;
}

ul {
  padding-left: 0;
  list-style: none;
}

a:hover {
  color: var(--tertiary-color);
}

a {
  position: relative;
}
