:host {
  position: fixed;
  z-index: 2;
  top: calc(4 * var(--header-top) + 5px);
  width: 100%;
  line-height: 1.8em;
  text-transform: uppercase;
}

.active {
  color: var(--tertiary-color);
}

ul {
  padding-left: 0;
  list-style: none;
}

a:hover {
  color: var(--tertiary-color);
}

a {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  li {
    line-height: 1.5;
  }
  a {
    font-size: 0.9rem;
  }
}
