app-upcoming-event span {
  display: block;
}

app-upcoming-event .title {
  color: var(--secondary-color);
}

app-upcoming-event .date span {
  display: inline;
}

app-upcoming-event app-rich-text {
  display: block;
  margin: calc(var(--vertical-margin) / 2) 0;
}

/* Style encapsulation has to be broken in order to affect innerHTML elements */
app-upcoming-event p {
  margin: 0;
}

app-upcoming-event figure {
  margin: 0;
}

app-upcoming-event img {
  margin-top: calc(var(--vertical-margin) / 2);
}
