<a [href]="event.link" class="title">{{ event.title }}</a>
<span *ngIf="event.description">{{ event.description }}</span>
<div>
  <span *ngIf="event.from">{{ event.from | date: 'dd/MM/y HH:mm' }}</span>
  <span *ngIf="event.until"> - {{ event.until | date: 'dd/MM/y HH:mm' }}</span>
</div>
<span *ngIf="event.location">{{ event.location }}</span>
<article [innerHTML]="event.richText"></article>
<figure *ngIf="event.image">
  <img [alt]="event.imageDescription" [src]="event.image"/>
  <figcaption>{{ event.imageDescription }}</figcaption>
</figure>
