<div [ngStyle]="{ width: slideshow.width + 'px' }" class="slideshow">
  <div [ngStyle]="{ 'padding-bottom': slideshow.height / slideshow.width * 100 + '%' }">
    <img
      (load)="onImageLoad()"
      *ngFor="let src of slideshow.imageUrls; let i = index"
      [ngClass]="i === imageIndex ? 'active' : null"
      [src]="src"
    />
  </div>
  <div class="button-container">
    <button
      (click)="onButtonClick(i)"
      *ngFor="let src of slideshow.imageUrls; let i = index"
      [ngClass]="i === imageIndex ? 'active' : null"
    ></button>
  </div>
</div>
