<div
  [ngStyle]="{ width: config.width + 'px' }"
  class="slideshow-image-container"
>
  <div
    [ngStyle]="{ 'padding-bottom': (config.height / config.width) * 100 + '%' }"
  >
    <img
      (load)="onImageLoad()"
      *ngFor="let src of config.imageUrls; let i = index"
      [ngClass]="i === imageIndex ? 'active' : null"
      [src]="src"
    />
  </div>
</div>
<div class="button-container">
  <button
    (click)="onButtonClick(i)"
    *ngFor="let src of config.imageUrls; let i = index"
    [ngClass]="i === imageIndex ? 'active' : null"
  ></button>
</div>
