app-texts app-linked-text,
app-text,
button {
  margin: var(--vertical-margin) 0;
  display: block;
}

app-texts button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
  color: var(--secondary-color);
  font-size: inherit;
}

app-texts app-rich-text {
  display: block;
}

app-texts app-rich-text p {
  max-width: var(--text-max-width);
}
