body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(0.9rem + 0.3 * ((100vw - 320px) / 100));
  margin: 0;
  padding: 0 3vw;
  color: #003080;
}

@media screen and (max-width: 812px) {
  h1 {
    font-size: 1.5em;
  }
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
}

a {
  color: #098b8b;
  text-decoration: none;
}

main {
  line-height: 2em;
}
