:root {
  --primary-color: #003080;
  --secondary-color: #098b8b;
  --tertiary-color: #a00020;
  --vertical-margin: 2em 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(0.9rem + 0.3 * ((100vw - 320px) / 100)); /* TODO Remove this. Introduced, because of problems on mobile */
  margin: 0;
  padding: 0 3vw;
  color: var(--primary-color);
  line-height: 2em;
}

@media screen and (max-width: 812px) {
  /* TODO Remove this. Introduced, because of problems on mobile */
  h1 {
    font-size: 1.5em;
  }
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}
