:root {
  --primary-color: #003080;
  --secondary-color: #098b8b;
  --tertiary-color: #a00020;

  --header-top: 20px;
  --body-horizontal-padding: 3vw;
  --vertical-margin: 30px;
  --text-max-width: 750px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 var(--body-horizontal-padding);
  color: var(--primary-color);
  line-height: 2em;
}

router-outlet + * {
  display: block;
  margin-top: calc(3 * var(--header-top));
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
}

a {
  color: var(--secondary-color);
  text-decoration: none;
}

iframe,
.slideshow,
img {
  max-width: calc(100vw - (2 * var(--body-horizontal-padding)));
}
